# /etc/systemd/system/my-script.timer

[Unit]
Description=Run my script every 3 minute

[Timer]
OnCalendar=*:0/3:00
Persistent=true

[Install]
WantedBy=timers.target
